@charset "utf-8";

body {
	font-family:  Helvetica;
	background-color: #ffffff;
    height: 100vh;
    font-family: Helvatica;
}
h1, p, span{
    font-family: Helvetica;
    font-style: normal;
}

/*Main Terdiri dari navabar dan jumbotron*/
.main .nav-content{
    max-width: 1440px; 
    margin: auto; 
    background-color: #F1F3FF;
}
.main .nav-content .navbar{
    background-color: #F1F3FF;
}
.main .nav-content .navbar .container-fluid{
    padding: 10px 30px 20px 30px;
}
.main .nav-content .navbar a{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.main .nav-content .head-content{
    width: 100%;
}
.main .nav-content .head-content h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.main .nav-content .head-content p{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

/*Ourservices*/
.Ourservices{
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}
.Ourservices .container .row .col-md-5 img{
    width: 459px;
    height: 428px;
    left: 206px;
    top: 604px;
}
.Ourservices .container .row .col-md-5 h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.Ourservices .container .row .col-md-5 p{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

/*Why Us*/
.whyus{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.whyus .container h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.whyus .container span{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.whyus .container p{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.whyus .card img{
    width: 20px; 
    height: 20px; 
    margin-top: 20px; 
    margin-left: 25px;
}


/*Testimonial*/
.testimonial{
    padding-top: 5rem;
    padding-bottom: 7rem;
}
.testimonial h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.testimonial .section-header{
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}
.testimonial .testimonial-view{
    max-width: 600px;
    max-height: 400px;
    padding: 0 15px 50px;
    margin: 0 auto 70px auto;
    border-radius: 3px;
}
.testimonial .block{
    background: #F1F3FF;
    color: #333;
    padding:60px 15px 15px;
    margin: 50px 15px;
    border-radius: 10px;
    
}
.testimonial .block .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex ;
    place-items: normal;
}
.testimonial .user{
    margin-bottom: 30px;
    text-align: center;
}
.testimonial  .image{
    position: relative;
    margin: 0 15px 30px 15px;
}
.testimonial .image img{
    height: 50px;
    width: 50px;
    border: 2px solid #ffffff;
    border-radius: 170px;
}
.testimonial .content i{
    color: #F9CC00;
}
.testimonial p,strong{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.testimonial .content strong{
    font-weight: bold;
}
.testimonial-view .carousel-control-next, 
.testimonial-view .carousel-control-prev{
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #5CB85F;   
  display: inline-flex;
  border-radius: 50%;
  top: 320px;
  left: 250px;
}
.testimonial .testimonial-view .carousel-control-prev img,
.testimonial-view .carousel-control-next img{
    width: 15px;
}

/* sewamobl*/
.sewamobil{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.sewamobil .jumbotron{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #0D28A6;
    color: #ffffff;   
}
.sewamobil h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
}
.sewamobil p{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

/*FAQ*/
.FAQ{
    padding-top: 5rem;
    padding-bottom: 6rem;
}
.FAQ h1{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.FAQ p{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

/*Footer*/
.footer_top{
    padding-top: 4rem;
}
.footer_top p{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
	.testimonial {
		padding: 70px 0 130px;
	}
    
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
	.testimonial {
		padding: 70px 0 130px;
	}
}
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
    }

    .navbar-nav {
        background-color: white;
        height: 100vh;
        width: 50%;
        left: 100%;
        position: absolute;
        transition: left .35s ease;
    }

    .navbar-collapse.collapsing {
        transition: background-color .35s ease;
    }

    .navbar-collapse.show .navbar-nav {
        transition: left .35s ease;
        left: 50%;
    }
}